@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>employee Service</h1>
</div>


<div class="row" data-ng-app="APIModule" ng-controller="APIController">

    <!--create a new user-->
    <div class="col-md-4" >
   
    <div id="newUser">
        <div class="form-group">
            <label for="accName">Create Your Account</label>
            <input type="text" class="form-control" id="accName" placeholder="Enter Account Name" [required="string" ] data-ng-model="accName" />
            <input type="email" class="form-control" id="accEmail" placeholder="Enter Account Email" [required="string" ] data-ng-model="accEmail" />
            <input type="text" class="form-control" id="accContact" placeholder="Enter Account Contact Name" [required="string" ] data-ng-model="accContact" />
         </div>
        <button type="button" class="btn btn-default" data-ng-click="createAccount();">Submit</button>
        <table>

            <tbody >
                <tr>
                    <td>Your API key is:<br/>
                    {{account.id}}</td>

                </tr>
            </tbody>

        </table>

    </div>
</div>

    <!--create a new mission-->
    <div class="col-md-4">

        <div id="newUser">
            <div class="form-group">
                <label for="accName">Create Your Account</label>
                <input type="text" class="form-control" id="accName" placeholder="Enter Account Name" [required="string" ] data-ng-model="accName" />
                <input type="email" class="form-control" id="accEmail" placeholder="Enter Account Email" [required="string" ] data-ng-model="accEmail" />
                <input type="text" class="form-control" id="accContact" placeholder="Enter Account Contact Name" [required="string" ] data-ng-model="accContact" />
            </div>
            <button type="button" class="btn btn-default" data-ng-click="createAccount();">Submit</button>
            <table>

                <tbody>
                    <tr>
                        <td>
                            Your API key is:<br />
                            {{account.id}}
                        </td>

                    </tr>
                </tbody>

            </table>

        </div>
    </div>

    <!--create a new mission-->
    <div class="col-md-4">

        <div id="createMission" >
            <div class="form-group">
                <label for="miss">Declare your business Mission and key words</label>
                <textarea class="form-control" id="miss" placeholder="Enter your business Mission and key wordse" [required="string" ] data-ng-model="missionStatement" ></textarea>
 </div>
            <button type="button" class="btn btn-default" data-ng-click="addMission();">Submit</button>
            <table>

                <tbody>
                    <tr>
                        <td>
                            Your mission is::<br />
                            {{mission.missionStatement}}
                        </td>

                    </tr>
                </tbody>

            </table>

        </div>
    </div>
    </div>






